<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="defaultFutureCallback" class="jp.amamon.simple.client.utils.DefaultResultCallback" />

    <bean id="testService" class="jp.amamon.simple.client.utils.ServiceBeanFactory">
        <property name="className" value="jp.amamon.simple.client.sample.ITestService"/>
        <property name="resultCallback" ref="defaultFutureCallback" />
    </bean>

</beans>
